.main-block {
  height: 100vh;
  box-shadow: -1px -3px 16px 9px #e6e6e6;

  div:nth-child(2) > mat-accordion > mat-expansion-panel {
    margin-top: 5px;
  }

  .category-name {
    cursor: pointer;
  }

  .category-item {
    padding: 10px;

    &:hover {
      color: #808080;
    }
  }

  .selected-category {
    border-bottom: #000000 1px solid;
  }
}
