<div class="main-block">
  <span>Profile photo</span>

  <mat-form-field>
    <label>
      Your first name
      <input type="text" matInput>
    </label>
  </mat-form-field>

  <mat-form-field>
  <label>
    Your second name
    <input type="text" matInput>
  </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      Where are you from
      <input type="text" matInput>
    </label>
  </mat-form-field>

  <mat-form-field>
    <label>
      About you
    <textarea rows="7" matInput></textarea>
    </label>
  </mat-form-field>
</div>
