<form class="login-form" [formGroup]="logInForm">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input type="text" matInput formControlName="username" placeholder="Enter name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input type="text" matInput formControlName="password" placeholder="Enter password">
  </mat-form-field>

  <button mat-raised-button (click)="signUp()">Sign Up</button>
  <button mat-raised-button (click)="signIn()">Sign In</button>
</form>
